* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background: #fff;
}

.logo-moto {
    height: 600px;
}

.main-box {
    width: 40%;
}


.box-video {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

video {
    position: fixed;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

.mask-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}


.logo-topo {
    max-width: 90%;
    max-width: 90%;

}

p {
    color: blue;
    margin-top: 12px;
    font-size: 24px;
    font-weight: bold;
}

button {
    height: 40px;
    width: 200px;
    background: rgb(193, 78, 7);
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

span {
    font-size: 15px;
    color: #fff;
    margin: 15px 15px 15px 15px;
    margin-bottom: 300px;
}

.logo-viagem {
    max-height: 45%;
}

.logo-whats {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

footer {
    background: rgb(193, 78, 7);
    text-align: center;
}

.paragrafo-footer {
    color: #fff;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 900px) {
    body {
        background: #fff;
    }

    .main-box {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }


    img {
        position: static;
        max-width: 90%;
    }

    .logo-topo {
        max-width: 75%;
        max-width: 75%;
        margin-top: 40px;
        margin-left: 42px;
        margin-bottom: 30px;
        display: inline-block;
    }

    p {
        margin: 15px 40px 15px 40px;
        width: auto;
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        color: blue;
    }

    .logo-viagem {
        max-width: 90%;
        max-height: 90%;
        margin-left: 15px;
        margin-top: 20px;
    }


    button {
        margin: 0 auto;
        display:  inline-block;
        background: #dc4f08;
        color: white;
        height: 60px;
        width: 335px;
    }

    span {
        display: inline;
        margin: 12px 12px 12px 12px;
    }

    .logo-whats {
        display: inline-block;
        max-height: 20px;
        max-width: 20px;
    }

    footer {
        background: rgb(193, 78, 7);
    }

    .paragrafo-footer {
        color: #fff;
        font-size: 14px;
    }


}