* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open-sans', sans-serif;
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(35, 22, 213);
}

.logo-moto {
    height: 600px;
}

.main-box {
    width: 40%;
}

.box-video {
    position: fixed;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

video {
    position: fixed;
    top: 0;
    min-height: 100%;
    min-width: 100%;
}

.mask-video {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}

h1 {
    width: 300px;
    color: #fff;
}

p {
    color: #fff;
    margin-top: 12px;
    font-size: 24px;
}

button {
    height: 40px;
    width: 200px;
    background: rgb(193, 78, 7);
    border: none;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
}

span {
    font-size: 15px;
    color: #fff;
    display: inline-block;
    margin: 15px 15px 15px 15px;
}

@media screen and (max-width: 900px) {
    .main-box {
        width: 100%;
        height: 50%;
        padding: 0;
        margin: 0;
    }

    .wrapper {
        display: block;
        height: auto;
        width: 100%;
        position: static;
        padding: 40px;
    }


    img {
        position: static;
        max-width: 90%;
    }

    h1 {
        font-size: 36px;
        line-height: 52px;
        width: auto;
        margin: 58px 50px 0 50px;
        text-align: center;
    }

    p {
        margin: 15px 40px;
        width: auto;
        text-align: center;
        font-size: 14px;
        line-height: 24px;
    }


    button {
        margin: 0 auto;
        display: block;
        background: #dc4f08;
        color: white;
    }
}